@page "{id:int?}"
@model RazorScriptureJournal.Pages.Entries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Scripture Entry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureEntry.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureEntry.Book)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureEntry.ChapterVerse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureEntry.ChapterVerse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureEntry.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureEntry.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureEntry.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScriptureEntry.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ScriptureEntry?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
